ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo{
  color: white;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #24292E;
  box-shadow: var(--light-shadow);
  max-height: 60px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: #17c671;
  transform: rotate(90deg);
}

.links a {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 0.5rem;
  transition: var(--transition);
  text-decoration: none;
}
.links a:hover {
  background: #17c671;
  color: #17c671;
  padding-left: 1.5rem;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
@media (max-width: 575.98px) { 
  nav {
    background: #24292E;
    box-shadow: var(--light-shadow);
    max-height: 600px;
  }
 }

 /*
=============== 
Navbar
===============
*/

.sidebar-layout {
  color:#000000;
  background-color:  #ffffff; 
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.sidebar-card1 {
  margin-left: -30px;
}

.sidebar-header {
  background-color: #5A61690F;
  color: #000000;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset; 
  font-size: 25px;
}
