:root {
  --clr-primary-5: hsl(205, 78%, 60%);
}
/*
=============== 
Globals
===============
*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo{
  color: white;
}
.black {
  color: #000000;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #24292E;
  box-shadow: var(--light-shadow);
  max-height: 60px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: #17c671;
  transform: rotate(90deg);
}

.links a {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 0.5rem;
  transition: var(--transition);
  text-decoration: none;
}
.links a:hover {
  background: #17c671;
  color: #17c671;
  padding-left: 1.5rem;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
@media (max-width: 575.98px) { 
  nav {
    background: #24292E;
    box-shadow: var(--light-shadow);
    max-height: 600px;
  }
 }

 /*
=============== 
Navbar
===============
*/

.sidebarlayout {
  color:#000000;
  background-color:  #ffffff; 
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.sidebar-card1 {
  margin-left: -30px;
}

.sidebar-header {
  background-color: #5A61690F;
  color: #000000;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset; 
  font-size: 25px;
}

.logincard {
  margin-top: 100px;
}

.githubicon {
  font-size: 30px;
}

.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

.imgcontainer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.personimg {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quoteicon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.imgcontainer::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
.author {
  margin-bottom: 0.25rem;
}